* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid red; */
  background-color: #111;
}

.temp-converter {
    border: 1px solid #666;
    height: 300px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.temp-heading {
  /* border: 1px solid red; */
  font-size: 2.5rem;
  color: #c6c6c6;
}

.converter {
  /* border: 1px solid red; */
  padding: 10px;
  height: 100px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 30px;
}

.converter input {
  height: 45px;
  width: 220px;
  font-size: 1.15rem;
  text-align: center;
  padding: 10px;
  background-color: #111;
  outline: none;
  border: 1px solid #666;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  color: #c6c6c6;
}

.converter select {
    height: 35px;
    width: 220px;
    font-size: 0.9rem;
    padding: 5px;
    color: #c6c6c6;
    background: #222;
    border: 1px solid #666;
    outline: none;
    border-radius: 0 0 5px 5px;
}

.left {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.center {
  /* border: 1px solid red; */
  font-size: 2rem;
  font-weight: 700;
  color: #999;
}
.right {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
